<div class="vg-page page-contact" id="contact">
    <div class="container-fluid">
        <section class="ftco-section">
            <h1 class="text-center fg-dark wow fadeInUp">İletişim</h1>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="wrapper">
                            <div class="row no-gutters mb-5">
                                <div class="col-md-7">
                                    <div class="contact-wrap w-100 p-md-5 p-4">
                                        <h3 class="mb-4">Bana Yaz</h3>
                                        <div id="form-message-warning" class="mb-4"></div> 
                                  <div id="form-message-success" class="mb-4">
                                Mesajınız gönderildi, teşekkürler!...
                                  </div>
                                        <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="name">İsim</label>
                                                        <input type="text" class="form-control" name="name" id="name" placeholder="İsim">
                                                    </div>
                                                </div>
                                                <div class="col-md-6"> 
                                                    <div class="form-group">
                                                        <label class="label" for="email">E-posta Adresi</label>
                                                        <input type="email" class="form-control" name="email" id="email" placeholder="E-posta Adresi">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="label" for="subject">Konu</label>
                                                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Konu">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="label" for="#">Mesajınız</label>
                                                        <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Mesajınız"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="submit" value="Gönder" class="btn btn-primary">
                                                        <div class="submitting"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-5 d-flex align-items-stretch">
                                    <div id="map">
                          </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-map-marker"></span>
                                </div>
                                <div class="text">
                                <p><span>Adres:</span> Avcılar / İstanbul</p>
                              </div>
                          </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-paper-plane"></span>
                                </div>
                                <div class="text">
                                <p><a href="mailto:ozturkcagla041@gmail.com">ozturkcagla041@gmail.com</a></p>
                              </div>
                          </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-phone"></span>
                                </div>
                                <div class="text">
                                <p><a href="https://www.linkedin.com/in/ozturkcagla/"><span>Linkedin</span></a></p>
                              </div>
                          </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-globe"></span>
                                </div>
                                <div class="text">
                                <p> <a href="https://github.com/caglaozturk"><span>Github</span></a></p>
                              </div>
                          </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>