<ul class="list-group me-3">
  <li *ngIf="cartItems.length>0" class="list-group-item nav-item dropdown text-decoration-none">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Sepetiniz
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li *ngFor="let cartItem of cartItems">
        <a class="dropdown-item d-flex justify-content-between">
         <span class="badge bg-secondary">{{cartItem.quantity}}</span>{{cartItem.car.brandName}}<span class="badge bg-secondary">Sil</span>
        </a>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li *ngFor="let cartItem of additionalCartItems">
        <a class="dropdown-item d-flex justify-content-between">
        <span class="badge bg-secondary">{{cartItem.quantity}}</span>{{cartItem.additionalService.name}}<span class="badge bg-secondary">Sil</span></a>
      </li>
      <li><hr class="dropdown-divider"></li>
      <p class="ms-3">Toplam: {{ cartService.getTotal() }}</p>
      <li><a class="dropdown-item" routerLink="cart-detail">Sepete git</a></li>
    </ul>
  </li>
</ul>
