<nav class="navbar navbar-expand" style="background-color: #034078">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color:white" >RentACar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color:white">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="car/addCar" style="color:white">Add Car</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="car/carList" style="color:white">Car List</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="#" style="color:white">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:white" routerLink="/login">Giriş Yap</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:white" routerLink="/register">Kayıt Ol</a>
          </li>
        </ul>
        <app-cart-summary></app-cart-summary>
        <div class="login me-3">
          <a class="justify-content-center btn btn-success" *ngIf="isloggedIn()==false" routerLink="/login">Login</a>
          <a class="btn btn-danger" *ngIf="isloggedIn()==true" (click)="logOut()" routerLink="/login">LogOut</a>
        </div>
      </div>
    </div>
  </nav>
   
